<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}"> -->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<link rel="stylesheet" href="../static/css/stylesheet.css">
	<!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
	<!-- <script src="../static/js/script.js"></script> -->

	<script
	src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous"></script>



	<title>Registration Form</title>

</head>
<body>
	<div class="container">
		<header>Registration</header>
		
		<form action="#">
			<div class="form first">
				<div class="details personal">
					<span class="title">Personal Details</span>
					<div class="fields">

						<div class="input-field">
							<label for="fullName">Full Name</label>
							<input type="text" id="fullName" name="fullName" placeholder="Enter your Name" oninput="upperCaseF(this)">
							<span id="fullNameError" class="fullNameError error"></span>
						</div>
						
						<div class="input-field">
							<label for="mothersName">Mothers Name</label>
							<input type="text" id="mothersName" name="mothersName" placeholder="Mothers Name" oninput="upperCaseF(this)" >
							<span id="mothersNameError" class="mothersNameError error"></span>
						</div>
						
						<div class="input-field">
							<label for="fathersName">Fathers Name</label>
							<input type="text" id="fathersName" name="fathersName" placeholder="Fathers Name" oninput="upperCaseF(this)" >
							<span id="fathersNameError" class="fathersNameError error"></span>
						</div>

						<div class="input-field">
							<label for="gender">Gender</label>
							<select name="gender" id="gender">
								<option value="" disabled selected>Select Gender</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="other">Other</option>
							</select>
							<span id="genderError" class="genderError error"></span>
						</div>

						<div class="input-field">
							<label for="dob">Date of Birth</label>
							<input type="date">
							<span id="dobError" class="dobError error"></span>
						</div>

						<div class="input-field">
							<label for="aadhar">Aadhar Number</label>
							<input type="text" id="aadhar" name="aadhar" placeholder="Aadhar Number">
							<span id="aadharError" class="aadharError error"></span>
						</div>
						
						<div class="input-field">
							<label for="mobile">Mobile Number</label>
							<input type="text" id="mobile" name="mobile" placeholder="Mobile Number">
							<span id="mobileError" class="mobileError error"></span>
						</div>

						<div class="input-field">
							<label for="emailid">Email ID</label>
							<input type="text" id="emailid" name="emailid" placeholder="Email ID">
							<span id="emailid" class="emailid error"></span>
						</div>

						<div class="input-field">
							<label for="parentsMobile">Parents Mobile Number</label>
							<input type="text" id="parentsMobile" name="parentsMobile" placeholder="Parents Mobile Number">
							<span id="parentsMobileError" class="parentsMobileError error"></span>
						</div>

					</div>
				</div>
				<!-- <div class="buttons">
					<button class="nextBtn" onclick="validateForm()">
						<span class="btnText">Next</span>
						<i class="uil uil-navigator"></i>
					</button>
				</div> -->

				<div class="details caste">
					<span class="title">Caste Certificate/Community Details</span>
					<div class="fields">

						<div class="input-field">
							<label for="community">Community</label>
							<select name="community" id="community" onchange="toggleTextbox()">
								<option value="" disabled selected>Select Community</option>
								<option value="sc">SC</option>
								<option value="st">ST</option>
								<option value="women">Women</option>
							</select>
							<span id="communityError" class="communityError"></span>
						</div>
						
						<div class="input-field">
							<label for="casteCertNum">Caste Certificate Number</label>
							<input type="text" id="casteCertNum" name="casteCertNum" placeholder="Caste Certificate Number">
						</div>
						
						<div class="input-field">
							<label for="issueDate">Issue Date</label>
							<input type="date" id="issueDate" name="issueDate" >
						</div>

						<div class="input-field">
							<label for="issueAuthority">Issuing Authority</label>
							<input type="text" id="issueAuthority" name="issueAuthority" placeholder="Issuing Authority">
						</div>
					</div>
				</div>

				<div class="buttons">
					<!-- <button class="backBtn">
						<i class="uil uil-navigator"></i>
						<span class="btnText">Back</span>
					</button> -->
					<button type="button" id="nextBtn" class="nextBtn" onclick="validateForm()">
						<span class="btnText">Next</span>
						<i class="uil uil-navigator"></i>
					</button>
				</div>
			</div>
				
			<div>
				<!-- <label for="mobile">Mobile Number</label> -->
				<!-- <input type="text" id="mobile" name="mobile"> -->
				<!-- <label for="mobile">Parents Mobile Number</label> -->
				<!-- <input type="text" id="mobile" name="mobile">
				<!-- <label for="emailid">Email ID</label> -->
				<!-- <input type="text" id="emailid" name="emailid">
				<!-- <label for="aadhar">Aadhar Number</label> -->
				<!-- <input type="text" id="aadhar" name="aadhar">
				<!-- <label for="community">Community</ljabel> -->
				<!-- <select name="cars" id="cars"> -->
					<!-- <option value="sc">SC</option> -->
					<!-- <option value="st">ST</option> -->
					<!-- <option value="women">Wemen</option> -->
				<!-- </select>				 -->
				<!-- <label for="casteCertNum">Caste Certificate Number</label> -->
				<!-- <input type="text" id="casteCertNum" name="casteCertNum">
				<!-- <label for="issueDate">Issue Date</label> -->
				<!-- <input type="text" id="issueDate" name="issueDate">
				<!-- <label for="issueAuthority">Issuing Authority</label> -->
				<!-- <input type="text" id="issueAuthority" name="issueAuthority">
				<!-- <label for="State">State</label> -->
				<!-- <input type="text" id="State" name="State">
				<!-- <label for="city">City</label> -->
				<!-- <input type="text" id="city" name="city">
				<!-- <label for="pincode">Pincode</label> -->
				<!-- <input type="text" id="pincode" name="pincode">
				<!-- <label for="nameinsti">Name of the Institute last Studied</label> -->
				<!-- <input type="text" id="nameinsti" name="nameinsti">
				<!-- <label for="percentage">Percentage</label> -->
				<!-- <input type="text" id="percentage" name="percentage">
				<!-- <label for="qualification">Qualification</label> -->
				<!-- <input type="text" id="qualification" name="qualification">
				<!-- <label for="duration">Duration</label> -->
				<!-- <input type="text" id="duration" name="duration">
				<!-- <label for="yearpass">Year of Passing</label> -->
				<!-- <input type="date" id="yearpass" name="yearpass">
				<!-- <label for="datecommense">Date of Commencement of CBP</label> -->
				<!-- <input type="date" id="datecommense" name="datecommense">
				<!-- <label for="nameasbank">Name as per Bank Account</label> -->
				<!-- <input type="text" id="nameasbank" name="nameasbank">
				<!-- <label for="bankaccno">Bank A/C no. to which STIPEND will be credited by C-DAC</label> -->
				<!-- <input type="text" id="bankaccno" name="bankaccno">
				<!-- <label for="bankifsc">IFSC Code of Branch</label> -->
				<!-- <input type="text" id="bankifsc" name="bankifsc">
				<!-- <label for="branchname">Branch Name</label> -->
				<!-- <input type="text" id="branchname" name="branchname"> -->
			</div>
		</form>		
	</div>
	<script src="../static/js/script.js"></script>

</body>
</html>