<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="../static/css/stylesheet.css">
	<title>Registration Form</title>
</head>
<body>
	<div class="container">
		<headre>Registration</header>
		<form action="#">
			<div class="form first">
				<div class="details personal">
					<span class="title">Personal Details</span>

					<div class="fields">
						<div class="input-field">
							<label for="fullname">Full Name</label>
							<input type="text" id="fullname" name="fullname" placeholder="Enter your name"><br>
						</div>
						
						<div class="input-field">
							<label for="mothersname">Mothers Name</label>
							<input type="text" id="mothersname" name="mothersname" placeholder="Mothers name"><br>
						</div>
						
						<div class="input-field">
							<label for="fathersname">Fathers Name</label>
							<input type="text" id="fathersname" name="fathersname" placeholder="Fathers name"><br>
						</div>
					</div>

					
				</div>
			</div>
				

				
					<label for="mobile">Mobile Number</label>
					<input type="text" id="mobile" name="mobile"><br>
				
					<label for="mobile">Parents Mobile Number</label>
					<input type="text" id="mobile" name="mobile"><br>
				
					<label for="emailid">Email ID</label>
					<input type="text" id="emailid" name="emailid"><br>
				
					<label for="aadhar">Aadhar Number</label>
					<input type="text" id="aadhar" name="aadhar"><br>
				
					<label for="community">Community</ljabel>
					<select name="cars" id="cars">
						<option value="sc">SC</option>
						<option value="st">ST</option>
						<option value="women">Wemen</option>
					</select>				
				
					<label for="castecerti">Caste Certificate Number</label>
					<input type="text" id="castecerti" name="castecerti"><br>
				
					<label for="issuedate">Issue Date</label>
					<input type="text" id="issuedate" name="issuedate"><br>
				
					<label for="issueauthority">Issuing Authority</label>
					<input type="text" id="issueauthority" name="issueauthority"><br>
				
					<label for="State">State</label>
					<input type="text" id="State" name="State"><br>
				
					<label for="city">City</label>
					<input type="text" id="city" name="city"><br>
				
					<label for="pincode">Pincode</label>
					<input type="text" id="pincode" name="pincode"><br>
				
					<label for="nameinsti">Name of the Institute last Studied</label>
					<input type="text" id="nameinsti" name="nameinsti"><br>
				
					<label for="percentage">Percentage</label>
					<input type="text" id="percentage" name="percentage"><br>
				
					<label for="qualification">Qualification</label>
					<input type="text" id="qualification" name="qualification"><br>
				
					<label for="duration">Duration</label>
					<input type="text" id="duration" name="duration"><br>
				
					<label for="yearpass">Year of Passing</label>
					<input type="date" id="yearpass" name="yearpass"><br>
				
					<label for="datecommense">Date of Commencement of CBP</label>
					<input type="date" id="datecommense" name="datecommense"><br>
				
					<label for="nameasbank">Name as per Bank Account</label>
					<input type="text" id="nameasbank" name="nameasbank"><br>
				
					<label for="bankaccno">Bank A/C no. to which STIPEND will be credited by C-DAC</label>
					<input type="text" id="bankaccno" name="bankaccno"><br>
				
					<label for="bankifsc">IFSC Code of Branch</label>
					<input type="text" id="bankifsc" name="bankifsc"><br>
				
					<label for="branchname">Branch Name</label>
					<input type="text" id="branchname" name="branchname"><br>
				
	</div>
</div>
</body>
</html>